table, tr, td, th {
    border: 0;
    border-spacing: 0;
}

.test-result-part {
    padding: 0.5em;
}

.test-result-list tbody:nth-child(even) {
    background-color: lightblue;
}

.test-result-entry-details {
    display: none;
}

.test-result-entry-details-show {
    display: table-row !important;
}

.pre {
    font-family: monospace;
    white-space: pre;
}

button {
    font-family: monospace;
}

.test-result-list {
    float: left;
}

.header-selector-list {
    float: left;
    margin: 0.5em;
}